<ol class="post-list list-unstyled">
  {{#each posts as |post|}}
  <li>
    <article class="post top-buffer row">
      <div class="col-sm-6">
        <div class="card">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <p class="card-text"><small class="text-muted">
                <i>posted by
                  <span style="font-weight:bolder">
                    {{user.username}}
                  </span>
                  on
                  {{format_date created_at}}
                </i>
                <br>
            </p></small></p>
            <p class="card-text">{{caption}}</p>
          </div>
        </div>
        <form class="comment-form">
          <div>
            <textarea name="comment-body" class="mb-2 mt-2 form-control"></textarea>
          </div>
          <div>
            <button data-id={{id}} class="btn-primary cmt-btn" type="submit">add comment</button>
          </div>
        </form>
      </div>
      {{!-- <div class="d-none" id="post-id">{{post.id}}</div> --}}
      {{> comments post.comments}}
    </article>
  </li>
  {{/each}}
</ol>


<script src="/javascript/comment.js"></script>